/** Imports  */

@import url('https://fonts.googleapis.com/css?family=Overpass');
@import url('https://fonts.googleapis.com/css?family=Roboto');

/** Your styles go here */

h1 {
	font-family: Overpass, monospace;
	text-align: center;
}

p {
	font-family: Overpass, monospace;
}

label {
	font-family: Overpass, monospace;
	display: block;
	text-align: center;
}

button {
	font-family: Overpass, monospace;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

footer {
	margin-top: 150px;
	text-align: center;
}

#deck-list {
	margin: 20px auto;
	padding: 20px;
	width: 90%;
	min-height: 150px;
	background-color: #fff;
	color: #000;
	font-size: 16px;
	font-family: Roboto;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	white-space: pre-wrap;
	display: flex;
	flex-direction: column;
	align-items: left;
	justify-content: center;
	text-align: left;
	word-wrap: break-word;
}
